<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>logged in</title>
</head>

<body>
  <div class="">
    <p id=text></p>
    <input type="text" id="search" placeholder="Search Something" />
    <input type="button" onclick="search()" value="Search" />
    </br>
    <a href="#" id="back" onclick="back()" hidden>Back</a>
    </br>
    <input type="text" id="mobile" placeholder="+91xxxxxxxxxx" hidden/>
    <input type="button" onclick="sendSMS()" id='sendMessage' value="Send" hidden/>
    </br>
    <iframe id="mail" src="about:blank" width=400 height=400 hidden></iframe>
    <div id="results">

    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io('http://nikon93.xyz:1234/');
    var sub = '';
    socket.on('connect', function() {});
    socket.on('login', function(data) {
      document.getElementById('text').innerHTML = data;
    });
    socket.on('messages', function(data) {
      document.getElementById('results').innerHTML += data;
    });
    socket.on('message', function(data) {
      sub = (data.subject);
      document.getElementById('results').hidden = true;
      document.getElementById('back').hidden = false;
      var mail = document.getElementById('mail');
      mail.hidden = false;
      var iframedoc = mail.document;
      if (mail.contentDocument)
        iframedoc = mail.contentDocument;
      else if (mail.contentWindow)
        iframedoc = mail.contentWindow.document;

      if (iframedoc) {
        // Put the content in the iframe
        iframedoc.open();
        iframedoc.writeln(data.body);
        iframedoc.close();
      } else {
        //just in case of browsers that don't support the above 3 properties.
        alert('Cannot inject dynamic contents into iframe.');
      }

    });

    function search() {
      console.log("test");
      socket.emit('search', document.getElementById('search').value);
      document.getElementById('results').innerHTML = '';
    }

    function openMessage(messageID) {
      document.getElementById('mobile').hidden = false;
      document.getElementById('sendMessage').hidden = false;
      socket.emit('getMessage', messageID);
    }

    function back() {
      document.getElementById('mobile').hidden = true;
      document.getElementById('sendMessage').hidden = true;
      document.getElementById('results').hidden = false;
      document.getElementById('back').hidden = true;
      var mail = document.getElementById('mail');
      mail.hidden = true;
    }

    function sendSMS() {
      if (sub.length != 0) {
        socket.emit('sendSMS', {
          'mobile': document.getElementById('mobile').value,
          "subject": sub
        });
      }
    }





    socket.on('disconnect', function() {});
  </script>
</body>

</html>
